*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: #FF8FAB;
    color: white;
    font-size: 20px;
}

header > a >  img{
    width: 180px;
}

.menu{
    width: 75%;
    display: flex;
}

.menu ul{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    list-style: none;
}

.menu > ul >li > a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

.menu > ul >li > a:hover{
    background-color: #f87e9d;
    border-radius: 20px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}

.usuarios{
    width: 10%;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
}

footer{
    width: 100%;
    height: 20vh;
    background-color: #FF8FAB;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer > div{
    width: 33%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.legal > ul, .paginas > ul{
    list-style: none;
}

.legal > ul >li > a, .paginas > ul >li > a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

.legal > h2, .redes > h2, .paginas > h2{
    margin-bottom: 20px;
}